<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>
<h2><a th:href="@{/books}" style="text-decoration: none">Назад</a></h2><hr>
<form th:method="POST" th:action="@{/books}" enctype="multipart/form-data">
  <label for="name">Введите название:</label>
  <input type="text"  id="name" th:name="name"/><br><br>
  <label for="author">Введите автора:</label>
  <input type="text" id="author" th:name="author"/><br><br>
  <label for="year">Введите год:</label>
  <input type="number" id="year" th:name="year"/><br>
  <input type="submit" value="Добавить">
</form>
</body>
</html>