<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>
<h3><a th:href="@{/}" style="text-decoration: none">Назад</a></h3><hr>
<form th:action="@{/books}" th:methot="GET">
    Страница:
    <input type="number" th:value="${page}" required th:name="page"><br><br>
    Количество на странице:
    <input type="number" th:value="${itemsPerPage}" required  th:name="itemsPerPage"><br><br>
    Сортировка:
    <input type="checkbox" th:checked="${isSorted}"  th:name="isSorted"><br><br>
    <input type="submit" th:value="Показать">
</form><hr>

<table th:border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Год</th>
    </tr>
    <div th:each = "book : ${books}">
        <tr>
            <th th:text="${book.getId_books}"/>
            <th><a th:href="@{/books/{id}(id=${book.getId_books()})}" th:text="${book.getName}"></a></th>
            <th th:text="${book.getAuthor()}"/>
            <th th:text="${book.getYear()}"/>
        </tr>
    </div>
</table><hr>
<form th:action="@{/books/new}" th:method="GET">
    <input type="submit" value="Добавить книгу">
</form><br>
<form th:action="@{/books/startSearch}" th:method="GET">
    <input type="submit" value="Поиск">
</form>
</body>
</html>