<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>
<h2><a th:href="@{/books}" style="text-decoration: none">Назад</a></h2><hr>
<a th:text="${book.getName+', '+book.getAuthor+', '+book.getYear}"/>
<div th:if="${book.getPerson}!=null">
  <a th:text="${'Книга сейчас у:'+book.getPerson().getFullName()}"></a>
  <form th:method="POST" th:action="@{/books/{id}/newReader(id=${book.getId_books()})}" enctype="multipart/form-data">
    <input type="submit" value="Освободить книгу">
  </form>
</div><hr>
<div th:unless="${book.getPerson}!=null">
  <a th:text="${'Книга сейчас свободна. Кому назначить ее?'}"></a><br><br>
  <form th:action="@{/books/{id}/newReader(id=${book.getId_books()})}" th:method="POST" enctype="multipart/form-data">
    <select th:name="person">
      <option disabled SELECTED>Выберите читателя</option>
      <option th:each="person : ${people}" th:value="${person.getId_persons}" th:text="${person.getFullName()}"></option>
    </select>
    <input type="submit" value="Назначить">
  </form>
</div><hr>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId_books()})}">
  <input type="submit" value="Редактировать">
</form><br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId_books()})}">
  <input type="submit" value="Удалить">
</form>
</body>
</html>