<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PEOPLE</title>
</head>
<body>
<form th:action="@{/people}" th:methot="GET">
    <input th:type="text" th:name="fullName">
    <input th:type="submit" th:value="Поиск">

</form><br>

<table th:border="1">
    <tr>
        <th>ID</th>
        <th>Ф.И.О</th>
        <th>Год рождения</th>
    </tr>

    <div th:each = "person : ${people}">
        <tr>
            <th th:text="${person.getId_persons}"/>
            <th><a th:href="@{/people/{id}(id=${person.getId_persons()})}" th:text="${person.getFullName}"></a></th>
            <th th:text="${person.getYearOfBirth()}"/>
        </tr>
    </div>

</table><hr>

<form th:action="@{/people/new}" th:method="GET">
    <input type="submit" value="Добавить человека">
</form>

</body>
</html>