<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о человеке</title>
</head>
<body>
<h2><a th:href="@{/people}" style="text-decoration: none">Назад</a></h2><hr>
<a th:text="${person.getFullName+', '+person.getYearOfBirth}"/>
<hr>
<div th:if="${not #lists.isEmpty(books)}">
    <h4>Книги:</h4>
    <div th:each="book : ${books}">
        <div style="color:red" th:if="${book.isExpired}">
            <a th:text="${book.getName+', '+book.getAuthor+', '+book.getYear}"/>
        </div>
        <div th:unless="${book.isExpired}">
            <a th:text="${book.getName+', '+book.getAuthor+', '+book.getYear}"/>
        </div>

    </div><hr>
</div>
<div th:unless="${not #lists.isEmpty(books)}">
<h3>Книги отсутствуют!</h3><hr>
</div>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId_persons()})}">
    <input type="submit" value="Редактировать">
</form><br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId_persons()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>